# Python Basic Workshop

## Day Wise 01

In [10]:
n=1233
print(n)
n1=12478
n1

1233

12478

In [11]:
## Multi Variable assignment
n=n1=n2=1234
print(n)
print(n1)
print(n2)

1234
1234
1234

In [14]:
# multi value Assignment
n=1234
print(n)
n=5678
print(n)
n='a'
print(n)

1234
5678
a

In [15]:
print(n)

a

In [12]:
print(n)

1234

In [16]:
n=12
n1=22
if n>n1:
    print(n)
else:
    print(n1)

22

In [17]:
n=26
if n%2==0:
    print(n,"is an Even number")
else:
    print(n,"is an odd number")

26 is an Even number

In [18]:

a=20
b=25
c=30
if a>b and a>c:
    print(a,"is the biggest number")
elif b>a and b>c:
    print(b,"is the biggest number")
else:
    print(c,"is the biggest number")

30 is the biggest number

In [22]:
a=5
b=3
if a==10 or b==10 or a+b==10:
    print('True')
else:
    print('False')

False

In [27]:
n=int(input())
print(n)

20
20

In [4]:
for i in range(1,11,3):
    print(i)

1
4
7
10

In [5]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [9]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [12]:
for i in range(2,101,2):
    print(i,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [13]:
for i in range(1900,2001):
    if i%400==0 or(i%4==0 and i%100!=0):
        print(i,end=" ")

1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000

In [15]:
n=int(input("Enter a number "))
for i in range(1,n+1):
    if n%i==0:
        print(i,end=" ")

Enter a number 20
1 2 4 5 10 20

In [18]:
n=int(input("Enter number "))
fa=1
for i in range(1,n+1):
    fa=fa*i
print(fa)

Enter number 6
720

In [21]:
n=int(input("Enter a number "))
count=0
for i in range(2,n//2+1):
    if n%i==0:
        count=count+1
        print(count)
if count==0:
    print("True")
else:
    print("False")

Enter a number 3
True

In [25]:
n=int(input("Enter a number "))
sum=0
for i in range(1,n):
    if n%i==0:
        sum=sum+i
if sum==n:
    print(True)
else:
    print(False)

Enter a number 20
False

In [28]:
a=int(input("Enter a number "))
b=int(input("Enter second number "))
sym=input("Enter symbol ")
if sym=="+":
    print(a+b)
elif sym=="-":
    print(a-b)
elif sym=="*": 
    print(a*b)
elif sym=="/":
    print(a/b)
else:
    print("invalid symbol")

Enter a number 10
Enter second number 20
Enter symbol *
200

In [4]:
n=12345
k=n//10
print(k)

1234

In [5]:
n=int(input("Enter number"))
count=0
while n>0:
    n=n//10
    count+=1
print(count)

Enter number1234
4

In [9]:
## Reverse of a number
n=int(input("Enter a number"))
rev=0
while n>0:
    r=n%10
    rev=rev*10+r
    n=n//10
print(rev)

Enter a number374
473

In [ ]:
# Palindrome - 121,222,101,........