## Python Workshop

In [1]:
n=12345
print(n)

12345

In [3]:
n=123
print(n)

123

In [4]:
n="a"
n

'a'

In [5]:
print(n)

a

In [6]:
n=n1=n2=123
print(n)
print(n1)
print(n2)

123
123
123

In [7]:
n=35
if n%2==0:
    print("Even number")
else:
    print("Odd number")

Odd number

In [8]:
n=2020
if n%400==0 or(n%4==0 and n%100!=0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Leap Year

In [9]:
n=8
if (n%2==0 and n%3==0)and(n%4!=0):
    print("yes,it is divisible by 2 and 3 but not by4")
else:
    print("Not divisible")

Not divisible

In [15]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [14]:
i=10
while i>=1:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [17]:
for i in range (1,101):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [21]:
for i in range(1900,2001):
    if i%400==0 or(i%4==0 and i%100!=0):
        print(i)

1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000

In [28]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
sum=a+b
if a==10 or b==10 or sum==10:
    print("True")
else:
    print("False")

Enter a number:5
Enter a number:5
True

In [30]:
a=int(input("enter any number:"))
for i in range(1,a+1):
    if a%i==0:
        print(i)

enter any number:24
1
2
3
4
6
8
12
24

In [34]:
a=int(input("Enter table "))
b=int(input("Enter lowerbound range "))
c=int(input("Enter upperbound range "))
for b in range(b,c+1):
    #if b<=c:
        print(a,"x",b,"=",(a*b))

Enter table 10
Enter lowerbound range 1
Enter upperbound range 5
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50

In [39]:
n=int(input("Enter a number "))
fa=1
for i in range(1,n+1):
    fa=fa*i
print(fa)

Enter a number 12
479001600

In [41]:
n=3
count=0
for i in range(2,n//2+1):
    if n%i==0:
        count+=1
if count==0:
    print("True")
else:
    print("False")

True

In [44]:
def evenorodd():
    if 5%2==0:
        return True
    else:
        return False
evenorodd()

False